body
{
	font-family: 'calibri', 'arial', 'helvetica';
	background-color: #333339;
	font-size: 15px;
}
#message
{
	font-weight: bold;
	text-align: center;
	width: 960px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: rgba(250, 250, 255, 0.2);
	border-radius: 5px;
}
#canvas_container
{
	width: 100%;
	text-align: center;
	margin: auto;
}