body
{
	font-family: 'calibri', 'arial', 'helvetica';
	background-color: #333339;
	font-size: 15px;
}
#content
{
	width: 100%;
}
#canvas_container, #message
{
	width: 960px;
	margin: auto;
}
#canvas_container { }
#message
{
	font-weight: bold;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #222;
	background-color: rgba(240, 240, 240, 0.1);
	border-radius: 3px;
	cursor: default;
}
#message:hover {
	color: #111;
	background-color: rgba(240, 240, 240, 0.2);
}