body
{
	font-family: 'Calibri', 'Arial', 'Helvetica';
	background-color: #333339;
	font-size: 14px;
}
#content
{
	width: 100%;
}
#canvas_container, #message
{
	width: 960px;
	margin: auto;
}
#canvas_container
{
	margin-top: 20px;
}
#message
{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #eee;
	background-color: #444;
	cursor: default;
}
#options
{
	font-size: 0.7em;
}
#options fieldset {
	border: none;
	margin: auto;
	width: 960px;
	text-align: center;
}